body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 100%;
    width: 200px;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #333; 
    padding-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.navbar img {
    width: 150px; 
    margin-bottom: 20px; 
}

.message{
    margin-left: 630px;
    text-align: center;
    width:500px;
    height:500px;
    margin-top: 30vh;
    margin-bottom: 20vh;
    font-size: large;
}

.plant-container {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px 270px;
    margin-left: 215px;
    padding: 20px;
    gap: 10px;
    width: 150px;    
}

.plant-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    padding-right: 10px;
}

.card p, h3{
    font-size: medium;
    text-align: center;
}

.main-content {
    flex: 1 0 auto;
    margin-left: 220px;
}

.contact-form {
    max-width: 600px;
    margin-top: 161px;
    margin-left: 550px;
    margin-bottom: 161px;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 240px;
}

.contact-form button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    flex-shrink: 0;
}

.non-infofooter{
    background-color: #333;
    color: white;
    text-align: center;
    margin-left: 200px;
    width: 88%;
    flex-shrink: 0;
}