@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* General Styles */
body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #DCDCDC;
    font-family: "Neucha", cursive;
}

button {
    padding: 0;
    width: 160px;
    font-family: "Neucha", cursive;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #6F9479;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #272001;
}

.navbar img {
    width: 150px;
    margin-left: 20px;
    border: 2px solid #272001;
}

/* Button Styles */
.btn, .contact-form button, .signup-form button, .login-form button, .profile button {
    background-color: #646536;
    color: #DCDCDC;
    border: 2px solid #272001;
    cursor: pointer;
}

.btn {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.contact-form button, .signup-form button, .login-form button {
    align-self: center;
    padding: 10px 20px;
    border-radius: 20px;
}

.contact-form button:hover, .signup-form button:hover, .login-form button:hover, .profile button:hover {
    background-color: #818262;
}

/* Message Section */
.message {
    width: 700px;
    height: 500px;
    margin-top: 155px;
    margin-left:550px;
    margin-bottom: 150px;
    padding: 20px 18px;
    font-size: 30px;
    background-color: #6F9479;
    border: 2px solid #272001;
    color: #DCDCDC;
    text-align: center;
}

.message h1 {
    font-size: 54px;
    font-weight: bold;
}

/* Plant Container and Card Styles */
.plant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(250px * 5 + 40px * 4); /* 5 cards and 4 gaps */
    margin-left: 200px; /* Centering the container */
    padding: 20px;
    gap: 30px;
}

.card {
    flex: 0 1 230px; /* Fixing card width */
    height: 50vh;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    background-color: #6F9479;
    border: 2px solid #272001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 50%;
    margin-top: 10px;
}

/* Garden Planner */
.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 0fr);
    margin-top: 10px;
}

.grid-item {
    width: 100px;
    height: 100px;
    border:#272001 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-plant {
    max-width: 100%;
    max-height: 100%;
}

.garden-planner{
    border:#272001 2px solid;
    width: 600px;
    padding: 10px;
}

#saveLayoutButton{
    margin-left: 200px;
}

.garden-planner label {
    margin-left: 60px;
}

/* Main Content */
.main-content {
    flex: 1;
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form Styles */
.contact-form, .signup-form, .profile {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #6F9479;
    border: 2px solid #272001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #DCDCDC;
}

.contact-form {
    width: 650px;
    margin-top: 130px;
    margin-left: 590px;
    margin-bottom: 140px;
}

.signup-form {
    width: 400px;
    margin-top: 155px;
    margin-left: 690px;
    margin-bottom: 112px;
}

.login-form {
    width: 350px;
    margin-top: 251px;
    margin-left: 690px;
    margin-bottom: 251px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: large;
    background-color: #6F9479;
    border: 2px solid #272001;
    border-radius: 20px;
    color: #DCDCDC;
}

.contact-form h2, .signup-form h2, .login-form h2 {
    font-size: 40px;
    text-align: center;
}

.contact-form label, .signup-form label, .login-form label {
    display: block;
    font-size: 20px;
}

.contact-form input, .contact-form textarea, .signup-form input, .login-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 14px;
    border: 2px solid #272001;
    border-radius: 20px;
    background-color: #DCDCDC;
}

.signup-form input, .login-form input {
    width: 90%;
    margin-bottom: 10px;
}

.profile {
    width: 600px;
    height: 730px;
    margin-top: 35px;
    margin-left: 600px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile h1 {
    text-align: center;
    font-size: 52px;
}

.Settings{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 100px;
    margin-left: 690px;
    margin-bottom: 106px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: large;
    background-color: #6F9479;
    border: 2px solid #272001;
    border-radius: 20px;
    color: #DCDCDC;
}

.Settings h1{
    text-align: center;
    font-size: 42px;
}

.passwordchanger,
.usernamechanger {
    width: 200px;
    height: 190px;
    padding: 5px;
    margin-left: 25%;
}

.passwordchanger input,
.passwordchanger label,
.usernamechanger input, 
.usernamechanger label {
    margin: 5px;
}

.passwordchanger button,
.usernamechanger button {
    background-color: #646536;
    color: #DCDCDC;
    border: 2px solid #272001;
    cursor: pointer;
}

.logoutbtn {
    width: 100px;
    height: 40px;
}

/* Footer Styles */
.non-infofooter {
    margin-left: 200px;
    flex-shrink: 0;
    padding: 10px 0;
    background-color: #6F9479;
    color: white;
    border-top: 2px solid #272001;
    text-align: center;
    width: 87.99%;
    text-align: left;
}

footer{
    flex-shrink: 0;
    background-color: #6F9479;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-top: 2px solid #272001;
}

.non-infofooter p {
    padding-left: 5px;
}

/* Styles for screens under 1000px */
@media screen and (max-width:1600px) and (min-width: 1000px) {
    .plant-container {
        max-width: 100%;
        gap: 20px;
        margin-left: 200px;
    }

    .card {
        flex: 0 1 calc(20% - 20px); /* Adjust card width for 5 cards per row */
        height: 250px; /* Let height adjust automatically */
        overflow-y: scroll;
    }

    .message{
        margin-left: 340px;
        margin-bottom: 183px;
        font-size: 25px;
        width: 50%;
        height: 50%;
    }

    .contact-form{
        margin-left:300px;
        margin-bottom: 128px;
    }

    .login-form{
        margin-left: 400px;
        margin-bottom: 239px;
    }

    .signup-form{
        margin-left: 400px;
        margin-bottom: 149px;
    }

    .profile{
        margin-left:300px;
    }

    .non-infofooter{
        width: auto;
    }
}

/* Styles for screens between 765px and 1000px */
@media screen and (max-width: 1000px) and (min-width: 765px) {
    .plant-container {
        max-width: 100%;
        gap: 20px;
        margin-left: 200px;
    }

    .card {
        flex: 0 1 calc(30% - 20px); /* Adjust card width for 2 cards per row */
        height: 250px; /* Let height adjust automatically */
        overflow-y: scroll;
    }

    .message{
        margin-left: 340px;
        margin-bottom: 183px;
        font-size: 20px;
        width: 50%;
        height: 50%;
    }

    .contact-form{
        margin-left:300px;
        margin-bottom: 128px;
        width: 400px;
    }

    .login-form{
        margin-left: 340px;
        margin-bottom: 239px;
    }

    .signup-form{
        margin-left: 300px;
        margin-bottom: 149px;
    }

    .profile{
        margin-left:300px;
        width: 450px;
    }

    .non-infofooter{
        width: auto;
    }
}

/* Styles for smaller screens */
@media screen and (max-width: 764px) {
    body,
    html {
        background-color: #F5F5F5;
    }

    .navbar {
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        border-right: none;
        border-bottom: 2px solid #272001;
    }

    .navbar img {
        width: 200px;
        border: 2px solid #272001;
    }

    .btn {
        width: 200px;
        height: 40px;
        font-size: 16px;
    }

    .logoutbtn {
        margin-left: 40%;
    }

    .message {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;
        padding: 10px;
    }

    .plant-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-left: 0;
        width: 100%;
    }

    .card {
        width: 90%;
        height: auto;
        font-size: 14px;
        overflow-y: scroll;
        max-height: 400px; /* Limit the card height */
    }

    .card img {
        height: auto;
        width: 100%;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .contact-form,
    .signup-form,
    .login-form,
    .profile {
        width: 90%;
        margin: 10% auto;
    }

    .contact-form h2,
    .signup-form h2,
    .login-form h2,
    .profile h1 {
        font-size: 30px;
    }

    footer,
    .non-infofooter {
        width: 100%;
        margin-left: 0;
    }

    .non-infofooter p {
        padding-left: 10px;
    }
}
