@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* General Styles */
body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #DCDCDC;
    font-family: "Neucha", cursive;
}

button {
    padding: 0;
    width: 160px;
    font-family: "Neucha", cursive;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #6F9479;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #272001;
}

.navbar img {
    width: 150px;
    border: 2px solid #272001;
}

/* Button Styles */
.btn, .contact-form button, .signup-form button, .login-form button, .profile button {
    background-color: #646536;
    color: #DCDCDC;
    border: 2px solid #272001;
    cursor: pointer;
}

.btn {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
}

.contact-form button, .signup-form button, .login-form button {
    margin-left: 25%;
    padding: 10px 20px;
    border-radius: 20px;
}

.contact-form button:hover, .signup-form button:hover, .login-form button:hover, .profile button:hover {
    background-color: #818262;
}

/* Message Section */
.message {
    width: 700px;
    height: 500px;
    margin: 16.8vh 60vh;
    padding: 20px 18px;
    font-size: 30px;
    background-color: #6F9479;
    border: 2px solid #272001;
    color: #DCDCDC;
    text-align: center;
}

.message h1 {
    font-size: 54px;
    font-weight: bold;
}

/* Plant Container and Card Styles */
.plant-container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 70px;
    margin-left: 17%;
    padding: 10px;
}

.card {
    width: 25vh;
    height: 49vh;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    background-color: #6F9479;
    border: 2px solid #272001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 60%;
    height: 40%;
    margin-top: 10px;
}

/* Main Content */
.main-content {
    flex: 1 0 auto;
    margin-left: 220px;
}

/* Form Styles */
.contact-form, .signup-form, .profile {
    margin-left: 38%;
    padding: 15px;
    background-color: #6F9479;
    border: 2px solid #272001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #DCDCDC;
}

.contact-form {
    width: 650px;
    margin-top: 14.5vh;
    margin-bottom: 15vh;
}

.signup-form {
    width: 400px;
    margin-top: 25.5vh;
    margin-bottom: 20vh;
}

.login-form {
    width: 350px;
    margin-top: 25vh;
    margin-bottom: 29.5vh;
    margin-left:40%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: large;
    background-color: #6F9479;
    border: 2px solid #272001;
    border-radius: 20px;
    color: #DCDCDC;
}

.contact-form h2, .signup-form h2, .login-form h2 {
    font-size: 40px;
    text-align: center;
}

.contact-form label, .signup-form label, .login-form label {
    display: block;
    font-size: 20px;
}

.contact-form input, .contact-form textarea, .signup-form input, .login-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 14px;
    border: 2px solid #272001;
    border-radius: 20px;
    background-color: #DCDCDC;
}

.signup-form input, .login-form input {
    width: 90%;
    margin-bottom: 10px;
}

.profile {
    width: 600px;
    height: 650px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    flex-direction: column;
}

.profile h1 {
    text-align: center;
    font-size: 52px;
}

.passwordchanger {
    width: 200px;
    height: 190px;
    float: left;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid #272001;
}

.passwordchanger input,
.passwordchanger label {
    margin: 5px;
}

.passwordchanger button {
    width: 150px;
    margin: 20px 0 0 20px;
}

.logoutbtn {
    width: 100px;
    height: 40px;
    margin-left: 250px;
}

.comingsoon {
    width: 99.5%;
    margin-top: 10px;
    font-size: 44px;
    text-align: center;
    border: 2px solid #272001;
}

.comingsoon h2 {
    padding: 20px;
    transform: rotate(-20deg);
}

/* Footer Styles */
footer,
.non-infofooter {
    background-color: #6F9479;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 88%;
    margin-left: 12%;
    border-top: 2px solid #272001;
}

footer {
    position: relative;
    bottom: 0;
    flex-shrink: 0;
}

.non-infofooter {
    text-align: left;
}

.non-infofooter p {
    padding-left: 5px;
}

/* Styles for smaller screens */
@media screen and (max-width: 768px) {
    body,
    html {
        background-color: #F5F5F5;
    }

    .navbar {
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        border-right: none;
        border-bottom: 2px solid #272001;
    }

    .navbar img {
        width: 200px;
        border: 2px solid #272001;
    }

    .btn {
        width: 200px;
        height: 40px;
        font-size: 16px;
    }

    .logoutbtn{
        margin-left: 40%;
    }

    .message {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;
        padding: 10px;
    }

    .plant-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        margin-left: 5%;
        width: auto;
    }

    .card {
        width: 150px;
        height: 200px;
        font-size: 14px;
        overflow-y: scroll;
    }

    .card img {
        height: 30%;
        width: 50%;
    }

    .main-content {
        margin-left: 0;
    }

    .contact-form,
    .signup-form,
    .login-form,
    .profile {
        width: 90%;
        margin: 10% auto;
    }

    .contact-form h2,
    .signup-form h2,
    .login-form h2,
    .profile h1 {
        font-size: 30px;
    }

    footer,
    .non-infofooter {
        width: 100%;
        margin-left: 0;
    }

    .non-infofooter p {
        padding-left: 10px;
    }
}
